<article>
	<form action="<?php echo app_resource::url_for_member((int)$post->id > 0 ? "post" : "posts");?>" method="post">
		<fieldset>
			<legend><?php echo "Edit: " . $post->title;?></legend>
			<div>
				<label for="post[title]">Title</label>
				<input type="text" name="post[title]" id="post[title]" value="<?php echo $post->title;?>" placeholder="Title" />
			</div>
			<div>
				<label for="to">Send to</label>
				<input type="text" name="to" placeholder="Peole to send this post to" />
			</div>
			<div>
				<label for="post[status]">Status</label>
				<select id="post[status]" name="post[status]">
				<?php foreach(array("Public"=>"public", "Draft"=>"draft", "Private"=>"private") as $key=>$value):?>
					<option value="<?php echo $value;?>"<?php echo ($post->status === $value ? " selected" : null);?>><?php echo $key;?></option>
				<?php endforeach;?>
				</select>
			</div>
			<div>
				<label for="post[body]">Body</label>
				<textarea name="post[body]" placeholder="Body"><?php echo $post->body;?></textarea>
			</div>
			<div>
				<label for="summary">Summary</label>
				<textarea name="meta[summary]" id="summary" placeholder="Summary"><?php echo meta::deserialize($post->meta)->summary;?></textarea>
			</div>
			<div>
				<label for="post[url]">Url</label>
				<input type="text" name="post[url]" id="post[url]" value="<?php echo $post->url;?>" placeholder="Url" />
			</div>
			<div>
				<label for="post[publish_date]">Publish on Date</label>
				<input type="text" id="post[publish_date]" value="<?php echo date("Y-m-d g:i:s a", $post->publish_date);?>" name="post[publish_date]" placeholder="Publish on Date" />
			</div>
			<div>
				<label for="post[type]">Type</label>
				<select id="post[type]" name="post[type]">
				<?php foreach(array("Tweet"=>"tweet", "Post"=>"post", "Photo"=>"photo", "Quote"=>"quote", "Video"=>"video", "Bookmark"=>"bookmark") as $key=>$value):?>
					<option value="<?php echo $value;?>"<?php echo ($post->type === $value ? " selected" : null);?>><?php echo $key;?></option>
				<?php endforeach;?>
				</select>
			</div>
			<div>
				<label for="tags">Tags</label>
				<input type="text" name="tags" id="tags" value="<?php echo implode(",", array_map(function($item){
					return $item->name;
				}, $post->get_tags()));?>" />
			</div>
	<?php if($post->id > 0):?>
			<input type="hidden" value="<?php echo $post->id;?>" name="post[id]" />
			<input type="hidden" value="put" name="_method" />
	<?php endif;?>
			<footer>
				<button type="submit"><?php echo $post->id > 0 ? "Save" : "Add";?></button>
			</footer>
		</fieldset>
	</form>
	<?php if($post->id > 0):?>
	<form action="<?php echo app_resource::url_for_member("post");?>" method="post" onsubmit="return confirm('Are you sure you want to delete?');">
		<input type="hidden" value="<?php echo $post->id;?>" name="post[id]" />
		<input type="hidden" value="delete" name="_method" />
		<button type="submit">delete</button>
	</form>
	<?php endif;?>
</article>