<ul>
	<?php foreach($groups as $group):?>
		<li><a href="<?php echo app_resource::url_for_member("addressbook/{$group->name}");?>"><?php echo $group->name;?></a></li>
	<?php endforeach;?>
</ul>
<article>
	<div id="people">
		<dl>
			<dt>People</dt>
			<?php foreach($people as $person):?>
				<dd>
					<a href="http://<?php echo $person->profile->url;?>" title="<?php echo $person->name;?>"><?php echo $person->name;?></a>
					<form method="post" action="<?php echo app_resource::url_for_user("person");?>">
						<input type="hidden" value="<?php echo $person->id;?>" name="person[id]" />
						<button type="submit">Edit</button>
					</form>
				</dd>
			<?php endforeach;?>
		</dl>
		<form action="<?php echo app_resource::url_for_user("person");?>" method="post">
			<button type="submit">Add a person</button>
		</form>
	</div>
</article>