body{
	margin: 0;
	padding: 0;
	background: transparent;
	color: white;
}
label{
	display: block;
}
form div{
	margin-bottom: 1em;
}
form input
, form textarea{
	width: 90%;
}
#user_message{
	background: yellow;
	color: black;
}