<ul>
	<?php foreach($stories as $story):?>
	<li>
		<header>
			<?php echo $story->content;?>
		</header>
		<form action="<?php echo resource::url_for("stories");?>" method="post">
			<input type="hidden" value="DELETE" name="_method" />
			<input type="hidden" value="<?php echo $story->id;?>" name="story[id]" />
			<button type="submit">x</button>
		</form>
	</li>
	<?php endforeach;?>
</ul>
<form action="<?php echo resource::url_for("stories");?>" method="post">
	<fieldset>
		<legend>Create a new story</legend>
		<div>
			<label for="story_content">Content</label>
			<textarea name="story[content]" placeholder="new story"></textarea>
		</div>
		<footer>
			<button type="submit">Save</button>
		</footer>
	</fieldset>
</form>